*{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: #7db687;
}

/* INDEX */
.noticias{
    background-color: #95d6a0;
    padding: 5%;
    border-radius: 20%;
    margin-top: 2%;
}

.video{
    background-color: #272727;
    margin: 0;
    padding: 0;

}
footer{
    display: block;
    background-color: #7db687;
}